 <!--------------------☆☆サイドバー☆☆ ------------------ -->
<div class="span3">
	<div class="well sidebar-nav">
  		<ul class="nav nav-list">
            <li class="${request.controller == 'XXXXX' ? 'class= active' : ''}">
                <a href="@{Admin.editUser()}">ユーザー情報</a>
            </li>
            <li class="${request.controller == 'Posts' ? 'class= active' : ''}">
                <a href="@{Posts.list()}">投稿</a>
            </li>
        #{secure.check 'admin'}
            <li class="${request.controller == 'Users' ? 'class= active' : ''}">
                <a href="@{Users.list()}">ユーザー（管理者）</a>
            </li>
            <li class="${request.controller == 'Participants' ? 'class= active' : ''}">
                <a href="@{Participants.list()}">参加者（管理者）</a>
            </li>
        #{/secure.check}
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<!--------------------☆☆サイドバーend☆☆ ------------------ -->