#{field _name}

<div class="control-group">
    <label for="${field.id}" class="control-label">&{_viewName ? _viewName : _name}</label>
    <div class="controls">
        <input id="${field.id}" class="${field.errorClass}" type="text" name="${_filedName==null ? field.name : _filedName}" value="${_value}" />
        #{ifError field.name}
            <span class="label label-important help-inline">${field.error.raw()}</span>
        #{/ifError}
        <span class="help-inline">${_help}</span>
    </div>
</div>
#{/field}
