#{extends 'main.html' /}
#{set title:'イベント新規作成' /}


<div class="row-fluid">


	<div class="span9">

	<a class="btn" href="@{Application.index}">一覧へ</a>


		<div class="page-header">
			<h2>イベント新規作成</h2>
		</div>




		#{ifErrors}
		<div class="crudFlash flashSuccess  alert alert-error">エラーを修正してください。</div>
		#{/ifErrors}

		#{if flash.success}
		<div class="crudFlash flashSuccess  alert alert-success">
			<p>${flash.success}</p>
		<textarea type name="result" id="result" onChange="clip.setText(this.value)" rows=6 class="span3">${flash.result}</textarea>
			<input type="submit" id="copyButton" value="コピー"  class='btn'/>
			<script type="text/javascript">
				// テキストエリア
				  var target = document.getElementById('result')
				// ボタン
				  var btn = document.getElementById('copyButton')
				// インスタンス
				  var clip = new ZeroClipboard.Client();
				// マウスオン時のカーソルの設定
				  clip.setHandCursor(true);
				  clip.setText(target.value);
				// 2回目以降に備える
				  if (clip.div) {
					clip.receiveEvent('mouseout', null);
					clip.reposition(btn);
				  } else {
					clip.glue(btn);
				  }
			</script>
		</div>
		#{/if}


		<div class="span8">
			#{form @createEventSave(), class:'form-horizontal'}
			<fieldset>

			#{textField name:'event.title'  /}
			#{textField name:'event.communityId' /}

			#{field 'event.date'}
				<div class="control-group">
				    <label for="dp2" class="control-label">&{'event.date'}</label>
				    <div class="controls">
				        <input id="dp2" class="${field.errorClass}" type="text" name="${field.name}" value="2012/07/12" data-date-format="yyyy/mm/dd"  />
				        #{ifError field.name}
				            <span class="label label-important help-inline">${field.error.raw()}</span>
				        #{/ifError}
				        <span class="help-inline">${_help}</span>
				    </div>
				</div>
			#{/field}
			#{textField name:'event.startAt' /}
			#{textField name:'event.endAt' /}
			#{textField name:'event.place' /}
			#{textField name:'event.content' /}


			<div class="form-actions">
				<input type="submit" value="作成" class="btn btn-success" />
			  	</div>
			</fieldset>
			#{/form}
		</div>
	</div>
</div>

<script>
	$(function(){
		window.prettyPrint && prettyPrint();
		$('#dp2').datepicker();
	});
</script>
