#{extends 'main.html' /}
#{set title:'曲の登録' /}


<div class="row-fluid">


	<div class="span9">

	<a class="btn" href="@{Application.event(eventId)}">一覧へ</a>


		<div class="page-header">
			<h2>曲の登録</h2>
		</div>




		#{ifErrors}
		<div class="crudFlash flashSuccess  alert alert-error">エラーを修正してください。</div>
		#{/ifErrors}

		#{if flash.success}
		<div class="crudFlash flashSuccess  alert alert-success">
			<p>${flash.success}</p>
		<textarea type name="result" id="result" onChange="clip.setText(this.value)" rows=6 class="span3">${flash.result}</textarea>
			<input type="submit" id="copyButton" value="コピー"  class='btn'/>
			<script type="text/javascript">
				// テキストエリア
				  var target = document.getElementById('result')
				// ボタン
				  var btn = document.getElementById('copyButton')
				// インスタンス
				  var clip = new ZeroClipboard.Client();
				// マウスオン時のカーソルの設定
				  clip.setHandCursor(true);
				  clip.setText(target.value);
				// 2回目以降に備える
				  if (clip.div) {
					clip.receiveEvent('mouseout', null);
					clip.reposition(btn);
				  } else {
					clip.glue(btn);
				  }
			</script>
		</div>
		#{/if}




		<div class="span8">
			#{form @createSongSave(eventId), class:'form-horizontal'}
			<fieldset>

			#{textField name:'title', viewName:'song.title', value:song?.title, help:null /}
			#{textField name:'singer', viewName:'song.singer', value:song?.singer, help:null /}


			<div class="control-group">
			<label class="control-label" for="inlineCheckboxes">募集パート</label>
				<div class="controls">
				#{list items:event.wantedParts, as:'part'}
					#{checkboxInlineField viewName:part, name:'wantedParts[]', value:part.id, checked:'true' /}
				#{/list}
			  	</div>
		  	</div>

			<div class="control-group">
			<label class="control-label" for="inlineCheckboxes">自分の参加パート</label>
				<div class="controls">
				#{list items:event.wantedParts, as:'part'}
					#{checkboxInlineField viewName:part, name:'participateParts[]', value:part.id /}
				#{/list}
			  	</div>
		  	</div>

			#{textField name:'remarks', viewName:'song.remarks', value:song?.remarks, help:null /}


			<div class="form-actions">
				<input type="submit" value="登録" class="btn btn-success" />
			  	</div>
			</fieldset>
			#{/form}
		</div>
	</div>
</div>
