#{extends 'main.html' /}
#{set title:'イベント新規作成' /}


<div class="row-fluid">


	<div class="span9">

	<a class="btn" href="@{Application.index}">一覧へ</a>


		<div class="page-header">
			<h2>イベント新規作成</h2>
		</div>




		#{ifErrors}
		<div class="crudFlash flashSuccess  alert alert-error">エラーを修正してください。</div>
		#{/ifErrors}

		#{if flash.success}
		<div class="crudFlash flashSuccess  alert alert-success">
			<p>${flash.success}</p>
		</div>
		#{/if}


		<div class="span8">
			#{form @createEventSave(), class:'form-horizontal'}
			<fieldset>

			#{textField name:'event.title'  /}
			#{textField name:'event.communityId' /}

			#{field 'date'}
				<div class="control-group">
				    <label for="dp2" class="control-label">&{'event.date'}</label>
				    <div class="controls">
				        <input id="dp2" class="${field.errorClass}" type="text" name="${field.name}" value="2012/07/12" data-date-format="yyyy/mm/dd"  />
				        #{ifError field.name}
				            <span class="label label-important help-inline">${field.error.raw()}</span>
				        #{/ifError}
				        <span class="help-inline">${_help}</span>
				    </div>
				</div>
			#{/field}

			#{field 'startAtTime'}
				<div class="control-group">
				    <label for="startAtTime" class="control-label">&{'event.startAtTime'}</label>
				    <div class="controls">
				        <input id="startAtTime" class="${field.errorClass}" type="text" name="${field.name}"  />
				        #{ifError field.name}
				            <span class="label label-important help-inline">${field.error.raw()}</span>
				        #{/ifError}
				        <span class="help-inline">${_help}</span>
				    </div>
				</div>
			#{/field}

			#{field 'endAtTime'}
				<div class="control-group">
				    <label for="endAtTime" class="control-label">&{'event.endAtTime'}</label>
				    <div class="controls">
				        <input id="endAtTime" class="${field.errorClass}" type="text" name="${field.name}"  />
				        #{ifError field.name}
				            <span class="label label-important help-inline">${field.error.raw()}</span>
				        #{/ifError}
				        <span class="help-inline">${_help}</span>
				    </div>
				</div>
			#{/field}

			#{textField name:'event.place' /}
			#{textField name:'event.content' /}


			<div class="form-actions">
				<input type="submit" value="作成" class="btn btn-success" />
			  	</div>
			</fieldset>
			#{/form}
		</div>
	</div>
</div>

<script>
	$(function(){
		window.prettyPrint && prettyPrint();
		$('#dp2').datepicker();
	});

	$(function(){
		$("#startAtTime").clockpick({
			starthour: 0,
			endhour: 23,
			showminutes: true,
			minutedivisions: 4,
			military: true
		});
	});


	$(function(){
		$("#endAtTime").clockpick({
			starthour: 0,
			endhour: 23,
			showminutes: true,
			minutedivisions: 4,
			military: true
		});
	});

</script>
