#{extends 'main.html' /} #{set title:"イベント編集：" + post?.title /}


<div class="row-fluid">


	<div class="span9">

	<a class="btn" href="@{Application.event(song.id)}">一覧へ</a>

		<div class="page-header">
			<h2>編集</h2>
		</div>


		#{ifErrors}
		<div class="crudFlash flashSuccess  alert alert-error">エラーを修正してください。</div>
		#{/ifErrors}

		#{if flash.success}
		<div class="crudFlash flashSuccess  alert alert-success">
			${flash.success}</div>
		#{/if}


		#{form @editSongSave(),class:'form-horizontal'}
		<fieldset>

		<input type="hidden" value="${song.id}" name="song.id"/>
		#{textField name:'song.state', value:song?.title, help:null /}
		#{textField name:'song.title', value:song?.title, help:null /}
        #{textField name:'song.singer', value:song?.singer, help:null /}
        #{textField name:'song.vocal', value:song?.vocal, help:null /}
        #{textField name:'song.guitar1', value:song?.guitar1, help:null /}
        #{textField name:'song.guitar2', value:song?.guitar2, help:null /}
        #{textField name:'song.drums', value:song?.drums, help:null /}
        #{textField name:'song.base', value:song?.base, help:null /}
        #{textField name:'song.keybord1', value:song?.keybord1, help:null /}
        #{textField name:'song.keybord2', value:song?.keybord2, help:null /}
        #{textField name:'song.other1', value:song?.other1, help:null /}
        #{textField name:'song.other2', value:song?.other2, help:null /}
        #{textField name:'song.remarks', value:song?.remarks, help:null /}

		<div class="form-actions">
				<input type="submit" value="変更" class="btn btn-success" />
          	</div>
		</fieldset>
		#{/form}
	</div>
</div>
