#{extends 'main.html' /}
#{set title:'便乗' /}


<div class="row-fluid">

 <!--------------------☆☆サイドバー☆☆ ------------------ -->
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			#{list items:songList, as:'item'}
			<li ${item.id==song.id ? "class='active'" : ''} ><a href="@{Application.participateSong(item.id)}">${item}</a></li>
			#{/list}
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<!--------------------☆☆サイドバーend☆☆ ------------------ -->

	<div class="span9">

	<a class="btn" href="@{Application.event(song.event.id)}">一覧へ</a>


		<div class="page-header">
			<h3>${song.title}/${song.singer}</h3>
		</div>



		#{ifErrors}
		<div class="crudFlash flashSuccess  alert alert-error">エラーを修正してください。</div>
		#{/ifErrors}

		#{if flash.success}
		<div class="crudFlash flashSuccess  alert alert-success">
			<p>${flash.success}</p>
			<textarea type name="result" id="result" onChange="clip.setText(this.value)" rows=6 class="span3">${flash.result}</textarea>
			<input type="submit" id="copyButton" value="コピー"  class='btn'/>
			<script type="text/javascript">
				// テキストエリア
				  var target = document.getElementById('result')
				// ボタン
				  var btn = document.getElementById('copyButton')
				// インスタンス
				  var clip = new ZeroClipboard.Client();
				// マウスオン時のカーソルの設定
				  clip.setHandCursor(true);
				  clip.setText(target.value);
				// 2回目以降に備える
				  if (clip.div) {
					clip.receiveEvent('mouseout', null);
					clip.reposition(btn);
				  } else {
					clip.glue(btn);
				  }
			</script>
		</div>
		#{/if}




		<div class="span8">
			#{form @participateSongSave(eventId), class:'form-horizontal'}
			<fieldset>

			<input type="hidden" name="songId" value="${song.id}" />


			<div class="control-group">
				<label class="control-label" for="song.songState">状況</label>
				<div class="controls">
				#{select "state", items:util.SongState.values(),  labelProperty: 'name', valueProperty:util.SongState.name, id:'song.songState', value:song.state /}
				</div>
			</div>




			<div class="control-group">
			<label class="control-label" for="inlineCheckboxes">便乗パート</label>
				<div class="controls">
				#{list items:song.parts, as:'part'}
					#{if part.wanting}
						#{checkboxInlineField viewName:part.eventPart.partName, name:'participateParts[]', value:part.eventPart.id /}
					#{/if}
				#{/list}
			  	</div>
		  	</div>

			#{textField name:'remarks', viewName:'song.remarks', value:song?.remarks, help:null /}

			<div class="form-actions">
				<input type="submit" value="便乗" class="btn btn-success" />
			  	</div>
			</fieldset>
			#{/form}
		</div>
	</div>
</div>
